.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
}
th {
  text-align: left;
}
.box {
  width: 100px;
  height: 100px;
}

img {
  display: block;
  margin: auto;
  visibility: hidden;
}

#square-1 {
  background-color: #28f;
}


#square-2 {
  background-color: #ef3;
}

#square-3 {
  background-color: #f58;
}

#square-4 {
  background-color: #2f9;
}

#square-5 {
  background-color: #f92;
}

#square-6 {
  background-color: #9922ff;
}
